name: Compile Recipes
on:
  push:
    branches:
      - "main"

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Compile Recipes
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "*/recipe.tex"
          glob_root_file: true
          work_in_root_file_dir: true
      
      - name: Collect Recipes
        run: ./collect.ps1
        shell: pwsh

      - run: python generate_html.py

      - uses: actions/upload-artifact@v6
        with:
          path: Recipes

      - uses: actions/upload-artifact@v6
        with:
          path: recipe_links.html
      
      - name: Push Recipes
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'Recipes'
          destination_repo: 'zacker150/zacker150.github.io'
          user_email: 'zacker150@gmail.com'
          user_name: 'Actions Bot'
          commit_message: 'Updated Recipes'

      - name: Push Links
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'recipe_links.html'
          destination_repo: 'zacker150/zacker150.github.io'
          user_email: 'zacker150@gmail.com'
          user_name: 'Actions Bot'
          commit_message: 'Updated Recipes'

